<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xandrev.mbandroid"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.mBandroid"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.NotificationManager"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".gui.NotificationSettings"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName=".gui.mBandroid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.mBandroid" />
        </activity>
        <activity
            android:name=".gui.MailSettings"
            android:label="@string/title_activity_mail_settings"
            android:parentActivityName=".gui.mBandroid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xandrev.mbandroid.gui.mBandroid" />
        </activity>
    </application>

</manifest>
